APEX_ENV=local
APEX_DEBUG=true
APEX_LOG_LEVEL=INFO

APEX_API_HOST=0.0.0.0
APEX_API_PORT=8000

APEX_POSTGRES_HOST=postgres
APEX_POSTGRES_PORT=5432
APEX_POSTGRES_DB=apex_lakehouse
APEX_POSTGRES_USER=apex
APEX_POSTGRES_PASSWORD=apex

APEX_MINIO_ENDPOINT=http://minio:9000
APEX_MINIO_REGION=us-east-1
APEX_MINIO_ACCESS_KEY=minioadmin
APEX_MINIO_SECRET_KEY=minioadmin
APEX_MINIO_RAW_BUCKET=raw
APEX_MINIO_LAKEHOUSE_BUCKET=lakehouse
APEX_MINIO_ARTIFACTS_BUCKET=artifacts

APEX_TRINO_HOST=trino
APEX_TRINO_PORT=8081
APEX_TRINO_CATALOG=memory
APEX_TRINO_SCHEMA=default

APEX_SPARK_MASTER_URL=spark://spark-master:7077

AIRFLOW_UID=50000
AIRFLOW_FERNET_KEY=
AIRFLOW_WEB_USER=admin
AIRFLOW_WEB_PASSWORD=admin

SUPERSET_ADMIN_USERNAME=admin
SUPERSET_ADMIN_PASSWORD=admin
SUPERSET_ADMIN_EMAIL=admin@example.com
SUPERSET_SECRET_KEY=change-me-in-real-environments
